* { margin:0; padding:0; }
.gnb { position:fixed; left:0; top:0;  width:100%; height:50px; line-height:50px; font-size:14px; text-align:center; color:#fff; background: #222; }
.content { width:1200px; min-height:3000px; margin:0 auto; padding:50px 0; overflow:hidden; }
.footer { font-size:14px; color:#000; border-top:1px solid #ddd; padding:20px; text-align:center; }

.module { width:100%; margin:20px 0; box-sizing: border-box; border:1px solid #ddd; text-align:center; font-size:14px; color:#000; }
